<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Register - Sustainability Awareness Framework</title>
    <link rel="icon shortcut" type="image/PNG" href="{{ asset('build/images/favicon-16x16.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Neucha|Open+Sans|Roboto|Roboto+Condensed|Shadows+Into+Light|Source+Sans+Pro&display=swap"
          rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                </div>

                                {{ form_start(registrationForm) }}
                                {{ form_row(registrationForm.email) }}
                                {{ form_row(registrationForm.password) }}
                                {{ form_row(registrationForm.agreeTerms, {'label': 'I herewith confirm that I have read the terms and conditions and accept them.'}) }}
                                {#<div class="g-recaptcha mt-2 mb-2" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>#}

                                <button class="btn btn-primary">Register</button>
                                {{ form_end(registrationForm) }}
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_login') }}">You already have an account? Sign in!</a>
                                </div>
                                <div class="text-center mt-2">
                                    <a class="small" href="{{ path('app_terms') }}">Terms and conditions</a> | <a class="small" href="{{ path('app_privacy') }}">Privacy</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
