<!--
/*!
* Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
* Copyright 2013-2019 Start Bootstrap
* Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
*/
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sustainability Awareness Framework{% endblock %}</title>
    <link rel="icon shortcut" type="image/PNG" href="{{ asset('build/images/favicon-16x16.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato|Neucha|Open+Sans|Roboto|Roboto+Condensed|Shadows+Into+Light|Source+Sans+Pro&display=swap"
          rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% block sidebar %} {% endblock %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
    {% block layout %}{% endblock %}

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span class="mr-2">
                    <a href="{{ path('app_terms') }}">Terms and conditions</a>
                    </span>
                    <span class="mr-2">Copyright &copy; Your Website 2020</span>
                    <span>
                    <a href="{{ path('app_privacy') }}">Privacy Policy</a>
                    </span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ path('app_logout') }}">Logout</a>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
